body{
    margin: 0;
}
header{
    background-image: url(header-background.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    color: white;
}
header div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
header div span{
    color: red;
}
header div button{
    background-color: inherit;
    padding: 10px;
    border-color: white;
    color: white;
}
nav{
    width: 100%;
    padding-top: 0,5em;
    position: sticky;
    top: 0;
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #252934 ;
}
nav div a{
    text-decoration: none;
    color: white;
    padding: 0.5em 1.5rem;
}
section{
    width: 90%;
    margin: 0 auto;
}
.pow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    width: 80%;
    margin: 0px auto;
}
.pow img{
    object-fit: cover;
    width: 400px;
    height: 200px;
}
.w1:hover, .w2:hover, .w4:hover, .w3:hover{
    transform: scaleY(1.1);
    animation-delay: 0.3ms;
}
hr{
    border: none;
    height: 3px;
    background-color: black;
}
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 30em;
    margin: 0 auto;
}
.form p{
    color: red;
}
.form input , .form textarea, .form button{
    border-radius: 5px;
    padding: 0.5em 1em;
}
.form input , .form textarea{
    background-color: #252934;
    color: white;
}
.form button{
    margin-bottom: 2rem;
}
footer{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    background-color: #252934;
}
/* mobile */
@media screen and (max-width: 850px) {
    .pow {
        flex-basis: 50%;
        column-gap: 5em;
    }
    .form{
        width: 80%;
    }
}

/*mobile */
@media screen and (max-width:481px) {
    .pow{
        display: flex;
        flex-direction: column;
    }
    .pow img{
        width: 80%;
        height: auto;
    }
}
